<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name="com.retroarch.browser.mainmenu.MainMenuActivity"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:exported">
            <intent-filter tools:node="removeAll"/>
        </activity>

        <activity
            android:name="dev.cannoli.ricotta.RicottaLaunchActivity"
            android:exported="false"
            android:process=":retroarch"
            android:theme="@style/Theme.Ricotta.Launch"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <activity
            android:name="com.retroarch.browser.retroactivity.RetroActivityFuture"
            android:exported="false"
            android:process=":retroarch"
            android:theme="@style/Theme.Ricotta.Game"
            android:launchMode="singleTop"
            tools:node="merge"
            tools:replace="android:exported,android:theme,android:launchMode" />

        <activity
            android:name="com.retroarch.browser.debug.CoreSideloadActivity"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:exported"/>

        <receiver android:name="com.retroarch.browser.receiver.InstalledCoresReceiver" tools:node="remove"/>

        <provider
            android:name="com.retroarch.browser.provider.RetroDocumentsProvider"
            tools:node="remove"/>
    </application>
</manifest>
